form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
  gap: 0.5rem;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.flasher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-notice {
  text-align: center;
  margin-top: 1rem;
}
