*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 72rem;
  margin: 3rem auto;
}

h1 {
  text-align: center;
}

.text-link {
  color: green;
  text-decoration: none;
}

.text-link:hover {
  color: grey;
}
